body{
  background-color: rgb(93, 171, 255);
}
.sizeContainer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
}
.sizeContainer p{
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
}
.sizeContainer h1{
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}
.card{
  width: 22rem;
  margin-bottom: 15px;
}
.img-avt{
    width: 100%;
    margin-top: 8px;
    height: 78%;
    margin-left: 10px;
    border-radius: 8px;
}